<!-- отрисовка одной карточки -->

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

<div class="card_2">
  <img
    src="{{service.src}}"
    width="145px"
    ,
    height="110px"
    ,
    hspace="3px"
    ,
    vspace="3px"
    alt="картинка"
  />

  <div class="card-body">
    <p class="aspect_st">{{ service.aspect }}</p>
    <button class="butt_serv">
      <a href="{% url 'service_url' service.id %}">{{ service.title }}</a>
    </button>
  </div>
</div>
