{% extends 'base.html' %} {% block title %}Визовый центр РФ{% endblock title %}
{% block content %}
<form action="{% url 'vises'%}" method="get" enctype="multipart/form-data">
  {% csrf_token %}
  <input name="country" type="text" value="{{ search_query }}" />
  <br /><br />
  <input type="submit" value="Поиск" />
</form>

<ul>
  {% for vise in data.vises %}
  <tr>
    {% include 'vise_element.html' with element=vise %}
  </tr>
  {% empty %}
  <li>Список пуст</li>
  {% endfor %}
</ul>

{% endblock %}
